<!-- templates/core/change_password.html -->
 <!DOCTYPE html>
 <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>パスワード変更</title>
    </head>
    <body>
        <h2>初回パスワード変更</h2>

        {% if messages. %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {% include "_form_errors.html" %}
            {{ form.as_p }}
            <button type="submit">変更する</button>
        </form>
    </body>
 </html>